<!--========================== ABOUT ME ==========================-->       
<section id="about-me"> 
	<h2>Sobre mí</h2>
	<div class="title">
		<div class="title-icon">
			<i class="fa fa-thumb-tack fa-2x"></i>
		</div>
	</div>

	<img src="{{ asset('bundles/codemonkeycvwebsite/img/profile_pic.png') }}" alt="image">
	<h3>Der Ketzer</h3>
	<h4>Desarrollador Web</h4>
	<p>
        Cervatillo del bosque que no trabaja. Como sea... Programo (mi vida no), bebo (lo que puedo) y soy WoWista.
	</p>
</section>
<!--========================== END ABOUT ME ==========================-->   

<div class="row"></div>