<!--========================== ABOUT ME ==========================-->       
<section id="about-me"> 
	<h2>Sobre mí</h2>
	<div class="title">
		<div class="title-icon">
			<i class="fa fa-thumb-tack fa-2x"></i>
		</div>
	</div>

	<img src="{{ asset('bundles/codemonkeycvwebsite/assets/profile.png') }}" alt="image">
	<h3>Der Ketzer</h3>
	<h4>Desarrollador</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas semper est, ut aliquet ante elementum in. 
		Nulla sem lectus, porttitor vitae nisl ac, interdum vehicula justo. Pellentesque sed interdum lacus. 
		Nulla quis lacinia mauris, et suscipit dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
		Suspendisse eget rutrum felis. Nunc ac ullamcorper eros, sit amet consequat tellus. Aliquam dapibus mollis quam eu tristique.
	</p>
</section>
<!--========================== END ABOUT ME ==========================-->   

<div class="row"></div>