<!--========================== CONTACTS ==========================-->
<section id="contact"> 
	<div class="contact-header">Contáctame</div>
	<span></span>

	<!-- Start Container -->
	<div class="container">
		<!-- Contact Form -->
		<form method="post" action="contact.php">
			<div class="eight columns">
				<input type="text" class="name" placeholder="Nombre" required="required" name="Name">
				<input type="email" class="email" placeholder="Correo electrónico" required="required" name="Email">
				<input type="text" class="subject" placeholder="Asunto" required="required" name="Subject">
			</div>

			<div class="eight columns">
				<textarea name="Message" required rows="20" cols="20" class="message" placeholder="Mensaje">
				</textarea>
			</div>

			<div class="sixteen columns ">
				<input type="submit" name="submit" value="Enviar" class="submit-button" />
			</div>
		</form>
		<!-- End Contact Form -->

		<div class="row"></div>

		<!-- Social Icons -->   
		<div class="social-icons">
			<a href="https://www.facebook.com/derketzer" class="tooltip" title="Facebook">
				<i class="social-icon fa fa-facebook fa-2x"></i>
			</a>
			<a href="https://www.twitter.com/der_ketzer" class="tooltip" title="Twitter">
				<i class="social-icon fa fa-twitter fa-2x"></i>
			</a>
			<a href="https://plus.google.com/u/0/+DerKetzerd" class="tooltip" title="Google">
				<i class="social-icon fa fa-google-plus fa-2x"></i>
			</a>
			<a href="http://www.linkedin.com/profile/view?id=107371911" class="tooltip" title="Linkedin">
				<i class="social-icon fa fa-linkedin fa-2x"></i>
			</a>
			<a href="http://www.der-ketzer.com/blog" class="tooltip" title="RSS">
				<i class="social-icon fa fa-book fa-2x"></i>
			</a>
		</div><!-- End Social Icons -->

	</div>
	<!-- End Container -->            
</section>
<!--========================== END CONTACTS ==========================-->