<!--========================== EDUCATION ==========================-->  
<section id="education" class="education">
	<h2>{{ 'katanastudios.title.educacion'|trans }}</h2>
	<div class="title">
		<div class="title-icon">
			<i class="fa fa-laptop fa-2x"></i>
		</div>
	</div>

	<ul class="cbp_tmtimeline">
		<!-- Education 1 -->
		<li>
			<div class="cbp_tmtime"><span>Dec, 2013</span></div>
			<i class="cbp_tmicon fa fa-laptop fa-2x"></i>
			<div class="cbp_tmlabel">
				<h3>Maestría en BI</h3>
				<h4>Universidad Anáhuac Norte</h4>
				<p>
					Se obtuvo el grado de maestro en Business Intelligence, así como el diplomado de "Minería de datos".
				</p>
			</div>
		</li>
		<!-- End Education 1 -->

		<!-- Education 2 -->
		<li>
			<div class="cbp_tmtime"><span>May, 2013</span></div>
			<i class="cbp_tmicon fa fa-laptop fa-2x"></i>
			<div class="cbp_tmlabel">
				<h3>Diplomado en Minería de Datos</h3>
				<h4>Universidad Anáhuac Norte</h4>
			</div>
		</li>
		<!-- End Education 2 -->

		<!-- Education 3 -->
		<li>
			<div class="cbp_tmtime"><span>May, 2012</span></div>
			<i class="cbp_tmicon fa fa-laptop fa-2x"></i>
			<div class="cbp_tmlabel">
				<h3>Ing en Sistemas y Tecnologías de la Información</h3>
				<h4>Universidad Anáhuac Norte</h4>
				<p>
					Adicional a los estudios de acuerdo al plan, se obtuvo el Diplomado en "Noviazgo y Sexualidad". Así como reconocimientos por la participacion en el taller de "Creación Literaria".
				</p>
			</div>
		</li>
		<!-- End Education 3 -->

		<!-- Education 4 -->
		<li>
			<div class="cbp_tmtime"><span>Feb, 2006</span></div>
			<i class="cbp_tmicon fa fa-laptop fa-2x"></i>
			<div class="cbp_tmlabel">
				<h3>Informática</h3>
				<h4>Universität des Saarlandes</h4>
			</div>
		</li>
		<!-- End Education 4 -->

		<!-- Education 5 -->
		<li>
			<div class="cbp_tmtime"><span>May, 2004</span></div>
			<i class="cbp_tmicon fa fa-laptop fa-2x"></i>
			<div class="cbp_tmlabel">
				<h3>Abitur</h3>
				<h4>Colegio Alemán Alexander von Humboldt</h4>
				<p>
					Obtención del certificado del idioma alemán (Sprachdiplom Stufe II), así como calificaciones aprobatorias para la preparatoria alemana (Abitur).
				</p>
			</div>
		</li>
		<!-- End Education 5 -->
	</ul>
</section>
<!--========================== END EDUCATION ==========================-->  