<!--========================== EXPERIENCE ==========================--> 
<section id="experience" class="experience">
	<h2>Experience</h2>
	<div class="title">
		<div class="title-icon">
			<i class="fa fa-briefcase fa-2x"></i>
		</div>
	</div>

	<ul class="cbp_tmtimeline">
		<!-- Experience 1 -->
		<li>
			<div class="cbp_tmtime">
				<span>Feb, 2014</span>
			</div>
			<i class="cbp_tmicon fa fa-briefcase fa-2x"></i>
			<div class="cbp_tmlabel">
				<h3>Ao Katana</h3>
				<h4>Co Fundador</h4>
				<p>
					Después de trabajar con Grupo Expansión decidí emprender la vida. Momento en el cual me encuentro, incursionando en el mundo de los startups, freelance y como entrepreneur.
				</p>
			</div>
		</li>
		<!-- End Experience 1 -->

		<!-- Experience 2 -->
		<li>
			<div class="cbp_tmtime">
				<span>Feb, 2014<br />Ago, 2009</span>
			</div>
			<i class="cbp_tmicon fa fa-briefcase fa-2x"></i>
			<div class="cbp_tmlabel">
				<h3>Grupo Expansión</h3>
				<h4>Desarrollador Web</h4>
				<p>
					Trabajando para Grupo Expansión participé principalmente en proyectos como Medio Tiempo y su Liga Fantástica, así como en las diversas aplicaciones como CNN Expansión.
				</p>
			</div>
		</li>
		<!-- End Experience 2 -->

		<!-- Experience 3 -->
		<li>
			<div class="cbp_tmtime">
				<span>Mar, 2009<br />Ago, 2008</span>
			</div>
			<i class="cbp_tmicon fa fa-briefcase fa-2x"></i>
			<div class="cbp_tmlabel">
				<h3>Centro de Estudios Kafka</h3>
				<h4>Profesor</h4>
				<p>
					Profesor de matemáticas y física para grupos de preparatoria abierta. Así como clases de computación para adultos.
				</p>
			</div>
		</li>
		<!-- End Experience 3 -->

		<!-- Experience 4 -->
		<li>
			<div class="cbp_tmtime">
				<span>Ago, 2008<br />Mar, 2007</span>
			</div>
			<i class="cbp_tmicon fa fa-briefcase fa-2x"></i>
			<div class="cbp_tmlabel">
				<h3>Grupo Comercial Ercugo</h3>
				<h4>Desarrollador Web</h4>
				<p>
					Creación de la primer comunidad web de mexicanos para mexicanos.
				</p>
			</div>
		</li>
		<!-- End Experience 4 -->
	</ul>
</section>
<!--========================== END EXPERIENCE ==========================--> 

<div class="row"></div> 