<!--========================== SERVICES ==========================-->   
<section id="services">
	<h2>My Services</h2>
	<div class="title">
		<div class="title-icon">
			<i class="fa fa-html5 fa-2x"></i>
		</div>
	</div>

	<!-- Service 1 -->
	<div class="service eight columns">
		<i class="service-icon fa fa-laptop fa-4x"></i>
		<h3>Desarrollo Web</h3>
		<p>
			Soluciones "Full Stack". Análisis, estructuración, desarrollo, instalación y mantenimiento.
		</p>
	</div>
	<!-- End Service 1 -->

	<!-- Service 2 -->
	<div class="service eight columns">
		<i class="service-icon fa fa-cog fa-4x"></i>
		<h3>Business Intelligence</h3>
		<p>
			Soluciones de recopilación y análisis de datos, orientado a planeación y estrategia.
		</p>
	</div>
	<!-- End Service 2 -->

	<!-- Service 3 -->
	<div class="service eight columns">
		<i class="service-icon fa fa-pencil fa-4x"></i>
		<h3>Escritos</h3>
		<p>
			Redacción de textos, artículos y ensayos.
		</p>
	</div>
	<!-- End Service 3 -->

	<!-- Service 4 -->
	<div class="service eight columns">
		<i class="service-icon fa fa-twitter fa-4x"></i>
		<h3>Social marketing</h3>
		<p>
			Diseño y desarrollo de estrategias para posicionamiento en redes sociales.
		</p>
	</div>
	<!-- End Service 4 -->
</section>
<!--========================== END SERVICES ==========================-->

<div class="row"></div>