<!--========================== SKILLS LEVEL ==========================-->   
<section id="skills">
	<h2>Conocimientos</h2>
	<div class="title">
		<div class="title-icon">
			<i class="fa fa-cogs fa-2x"></i>
		</div>
	</div>

	<div class="eight columns">
		<!-- Skill 1 -->
		<div class="skillbar clearfix" data-percent="90%">
			<div class="skillbar-title">PHP/MySQL</div>
			<div class="skillbar-bar"></div>
			<div class="skill-bar-percent">90%</div>
		</div>
		<!-- End Skill 1 -->

		<!-- Skill 2 -->
		<div class="skillbar clearfix " data-percent="85%">
			<div class="skillbar-title">jQuery</div>
			<div class="skillbar-bar"></div>
			<div class="skill-bar-percent">85%</div>
		</div>
		<!-- End Skill 2 -->

		<!-- Skill 3 -->
		<div class="skillbar clearfix " data-percent="40%">
			<div class="skillbar-title">C++/C#</div>
			<div class="skillbar-bar"></div>
			<div class="skill-bar-percent">40%</div>
		</div>
		<!-- End Skill 3 -->

		<!-- Skill 7 -->
		<div class="skillbar clearfix " data-percent="90%">
			<div class="skillbar-title">Inglés</div>
			<div class="skillbar-bar"></div>
			<div class="skill-bar-percent">90%</div>
		</div>
		<!-- End Skill 7 -->
	</div>

	<div class="eight columns">
		<!-- Skill 4 -->
		<div class="skillbar clearfix " data-percent="100%">
			<div class="skillbar-title">Alemán</div>
			<div class="skillbar-bar"></div>
			<div class="skill-bar-percent">100%</div>
		</div>
		<!-- End Skill 4 -->

		<!-- Skill 5 -->
		<div class="skillbar clearfix " data-percent="60%">
			<div class="skillbar-title">Linux</div>
			<div class="skillbar-bar"></div>
			<div class="skill-bar-percent">60%</div>
		</div>
		<!-- End Skill 5 -->

		<!-- Skill 6 -->
		<div class="skillbar clearfix " data-percent="30%">
			<div class="skillbar-title">Python/Java</div>
			<div class="skillbar-bar"></div>
			<div class="skill-bar-percent">30%</div>
		</div>
		<!-- End Skill 6 -->

		<!-- Skill 8 -->
		<div class="skillbar clearfix " data-percent="15%">
			<div class="skillbar-title">Node/NoSQL</div>
			<div class="skillbar-bar"></div>
			<div class="skill-bar-percent">15%</div>
		</div>
		<!-- End Skill 8 -->
	</div>
</section>
<!--========================== END SKILLS LEVEL ==========================-->

<div class="row"></div>