<!DOCTYPE html>
<html lang="en">
    <head>
        <!--========================== BASIC ==========================-->
        <meta charset="UTF-8">
        <title>Der Ketzer CV | Katana Studios</title>
        <meta name="description" content="Der Ketzer CV">
        <meta name="keywords" content="der ketzer, codemonkey, web developer, css, html, php">
        <meta name="author" content="Der Ketzer">

        <meta name="google-site-verification" content="UYRgeFJLYRQcAyEJZPXtX65ECslO24IiNA-_O3qzWrc" />
        <meta name="msvalidate.01" content="0873A5C5B4FC1DA8BB5DAEC4F90FDF03" />

        <!--========================== MOBILE SPECIFIC METAS ==========================-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!--========================== HTML5 SHIM AND RESPOND.MIN.JS ==========================-->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->

        <!--========================== CSS ==========================-->
        {% stylesheets 'bundles/codemonkeycvwebsite/css/*' filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!--========================== GOOGLE FONTS ==========================-->
        <link href='http://fonts.googleapis.com/css?family=Raleway:100,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>

        {%  if not app.debug %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-63580750-1', 'auto');
                ga('send', 'pageview');

            </script>
        {% endif %}
    </head>

    <body>
        {% block body %}{% endblock %}

        <!--========================== JAVASCRIPT ==========================-->
        {% javascripts '@CodemonkeyCVWebsiteBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--========================== END JAVASCRIPT ==========================-->
        <div class="copyright">
            Katana Studios 2015 &copy; | Cover photo by: <a href="https://www.flickr.com/photos/jonrohan/" target="_blank">Jon Rohan</a>
        </div>
    </body>
</html>